List

In [1]:
housePrices = [140, 550, 480] 
housePrices

[140, 550, 480]

In [2]:
#	Update the price of the second element in housePrices to 175: 
housePrices[1] = 175
housePrices

[140, 175, 480]

In [3]:
# •	Add a new element to the end of housePrices with a value of 260
housePrices.append(260)
housePrices

[140, 175, 480, 260]

In [4]:
#Remove the first element from housePrices, using the pop() method: 
housePrices.pop(0)
housePrices

[175, 480, 260]

In [5]:
#•	Remove 480 from housePrices, using the remove() method: 
housePrices.remove(480)
housePrices

[175, 260]

In [6]:
#average of the list housePrices: 

sum(housePrices)/len(housePrices)

217.5

In [8]:
housePrices = [140, 550, 480] 

#sort the list from lower to higher order
housePrices.sort(reverse= False)
housePrices

[140, 480, 550]

In [12]:
housePrices[-1] > 300

True

Dictionary

In [13]:
car_brands = ["Toyota", "Honda", "BMW", "Tesla"]
temperatures = [20, 25, 30, 35]
data_dict = {
    "Car Brands": car_brands,
    "Temperatures": temperatures,
}
data_dict

{'Car Brands': ['Toyota', 'Honda', 'BMW', 'Tesla'],
 'Temperatures': [20, 25, 30, 35]}

In [14]:
data_dict["Car Brands"]

['Toyota', 'Honda', 'BMW', 'Tesla']

In [16]:
data_dict["age"] = [18, 25, 40, 60]
data_dict

{'Car Brands': ['Toyota', 'Honda', 'BMW', 'Tesla'],
 'Temperatures': [20, 25, 30, 35],
 'age': [18, 25, 40, 60]}

In [20]:
#del dict[Temperatures] removes the list with key Temperatures
data_dict["age"][0] = 19
data_dict

{'Car Brands': ['Toyota', 'Honda', 'BMW', 'Tesla'],
 'Temperatures': [20, 25, 30, 35],
 'age': [19, 25, 40, 60]}

In [19]:
#get the average value of the list age from the dictionary: 
sum(data_dict["age"])/len(data_dict["age"])

36.0

In [22]:
#This code goes through the list of temperatures, and whenever the temperature is 25 or lower, it picks the 
# corresponding car brand and adds it to a new list.
# Initialize an empty list for selected car brands
selected_brands = []

# Iterate through the temperatures
for index, temp in enumerate(data_dict['Temperatures']):
    if temp <= 25:
        selected_brands.append(data_dict['Car Brands'][index])

# Print the result
print("Selected Car Brands:", selected_brands)

Selected Car Brands: ['Toyota', 'Honda']

In [23]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [24]:
customer_names = ["Alice", "Bob", "Charlie", "David"]
customer_satisfaction = [3, 5, 2, 4]
product_prices = [19.99, 45.50, 30.00, 89.99]
purchase_dates = ["2023-05-21", "2023-06-10", "2023-07-15", "2023-08-01"]
product_categories = ["Electronics", "Clothing", "Furniture", "Toys"]
customer_ages = [25, 34, 40, 19]
order_quantities = [2, 1, 5, 3]
product_ratings = [4.5, 3.8, 4.0, 4.9]

In [25]:
#Construct a nested dictionary to store the data, with keys representing the category names and 
# values storing respective lists. Name the dictionary “data_dict”

# Creating the nested dictionary
data_dict = {
    "Customer Names": ["Alice", "Bob", "Charlie", "David"],
    "Customer Satisfaction Ratings": [3, 5, 2, 4],
    "Product Prices (USD)": [19.99, 45.50, 30.00, 89.99],
    "Purchase Dates": ["2023-05-21", "2023-06-10", "2023-07-15", "2023-08-01"],
    "Product Categories": ["Electronics", "Clothing", "Furniture", "Toys"],
    "Customer Ages": [25, 34, 40, 19],
    "Order Quantities": [2, 1, 5, 3],
    "Product Ratings (out of 5)": [4.5, 3.8, 4.0, 4.9]
}

# Print the dictionary to verify
print(data_dict)

{'Customer Names': ['Alice', 'Bob', 'Charlie', 'David'], 'Customer Satisfaction Ratings': [3, 5, 2, 4], 'Product Prices (USD)': [19.99, 45.5, 30.0, 89.99], 'Purchase Dates': ['2023-05-21', '2023-06-10', '2023-07-15', '2023-08-01'], 'Product Categories': ['Electronics', 'Clothing', 'Furniture', 'Toys'], 'Customer Ages': [25, 34, 40, 19], 'Order Quantities': [2, 1, 5, 3], 'Product Ratings (out of 5)': [4.5, 3.8, 4.0, 4.9]}

In [26]:
# Find the highest and lowest product prices
highest_price = max(data_dict["Product Prices (USD)"])
lowest_price = min(data_dict["Product Prices (USD)"])

# Print the results
print(f"Highest Product Price: ${highest_price:.2f}")
print(f"Lowest Product Price: ${lowest_price:.2f}")

Highest Product Price: $89.99
Lowest Product Price: $19.99

In [27]:
#Find the average age of customers

average_age = sum(data_dict["Customer Ages"]) / len(data_dict["Customer Ages"])

# Print the result
print(f"Average Customer Age: {average_age:.2f} years")

Average Customer Age: 29.50 years

In [28]:
# Extract product ratings from the dictionary
product_ratings = data_dict["Product Ratings (out of 5)"]

# Check if any product has a perfect rating
has_perfect_rating = 5.0 in data_dict["Product Ratings (out of 5)"]

# Find the highest product rating
highest_rating = max(data_dict["Product Ratings (out of 5)"])

# Print the results
if has_perfect_rating:
    print("There is at least one product with a perfect rating (5.0).")
else:
    print("No product has a perfect rating (5.0).")

print(f"The highest product rating given by customers is: {highest_rating}")

No product has a perfect rating (5.0).
The highest product rating given by customers is: 4.9

In [29]:
# Calculate total revenue
total_revenue = sum(price * quantity for price, quantity in zip(data_dict["Product Prices (USD)"], data_dict["Order Quantities"]))

# Print the result
print(f"Total Revenue: ${total_revenue:.2f}")

Total Revenue: $505.45

In [30]:
data_dict

{'Customer Names': ['Alice', 'Bob', 'Charlie', 'David'],
 'Customer Satisfaction Ratings': [3, 5, 2, 4],
 'Product Prices (USD)': [19.99, 45.5, 30.0, 89.99],
 'Purchase Dates': ['2023-05-21', '2023-06-10', '2023-07-15', '2023-08-01'],
 'Product Categories': ['Electronics', 'Clothing', 'Furniture', 'Toys'],
 'Customer Ages': [25, 34, 40, 19],
 'Order Quantities': [2, 1, 5, 3],
 'Product Ratings (out of 5)': [4.5, 3.8, 4.0, 4.9]}

In [31]:
# Find customers with satisfaction rating 4 or above
satisfied_customers = [customer_names[i] for i in range(len(data_dict["Customer Satisfaction Ratings"])) if data_dict["Customer Satisfaction Ratings"][i] >= 4]

# Print the result
print("Customers with satisfaction rating of 4 or above:", satisfied_customers)

Customers with satisfaction rating of 4 or above: ['Bob', 'David']